name: "Pull Request Tasks"

on:
  pull_request:
    types: [opened, edited, synchronize]

permissions: {}

jobs:
  common-pull-request-tasks:
    name: Common Pull Request Tasks
    permissions:
      pull-requests: write
    uses: JackPlowman/reusable-workflows/.github/workflows/common-pull-request-tasks.yml@6d5bd5f0148a1271d2ad07b20de658643f8e44b0 # v2026.02.04.01
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}
