name: "Pull Request Tasks"

on:
  pull_request:
    types: [opened, edited, synchronize]

permissions: {}

jobs:
  common-pull-request-tasks:
    name: Common Pull Request Tasks
    permissions:
      pull-requests: write
    uses: JackPlowman/reusable-workflows/.github/workflows/common-pull-request-tasks.yml@df2f9791faacdfc1e3a041fbbc83e13bfbba1259 # v2026.02.21.01
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}
