name: "Pull Request Tasks"

on:
  pull_request:
    types: [opened, edited, synchronize]

permissions: {}

jobs:
  common-pull-request-tasks:
    name: Common Pull Request Tasks
    permissions:
      pull-requests: write
    uses: JackPlowman/reusable-workflows/.github/workflows/common-pull-request-tasks.yml@15462df20527afdc20ed59eff40f095bad0e6125 # v2026.02.19.01
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}
