name: "Sync labels"

on:
  push:
    branches:
      - main
    paths:
      - .github/tool-configurations/labels.yml
  workflow_dispatch:

permissions: {}

jobs:
  configure-labels:
    name: Configure Labels
    permissions:
      contents: read
      pull-requests: write
    uses: JackPlowman/reusable-workflows/.github/workflows/common-sync-labels.yml@6d5bd5f0148a1271d2ad07b20de658643f8e44b0 # v2026.02.04.01
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}
